# Raw data formats
**.nc
**.cdf
**.csv
**.tab
**.tiff


# Trainign variables
**.npz

# Model weights
**.pth
**.pt

# Figures
**.jpeg
**.png
**.mp4

# Jupyter Notebook checkpoints
**.ipynb_checkpoints
