# Raw data formats
**.nc
**.cdf
**.csv
*.tab
**.tiff


# Training variables
**.npz

# Model weights
**.pth
**.pt

# Figures
**.jpeg
**.png
**.mp4

# Jupyter Notebook checkpoints
**.ipynb_checkpoints

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Log files
**.log
